{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block resource %}
<link rel="stylesheet" href="/static/stylesheets/account.css">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container portfolio">
    <div class="bio-info mt-5">
        <div class="row py-5">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                            <img id="profile-image" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bio-content pt-4">
                    <h1>Edit Profile</h1>

                    <form id="edit-user-form">
                        <div class="form-group row">
                            <div class="col-sm-10 mb-0">
                                <h6 id="username-handle"></h6>
                            </div>
                            <div class="col-sm-10 mb-2">
                                <input type="text" class="form-control" id="inputImageUrl" placeholder="Image Url">
                                <button type="submit" class="btn btn-light my-2" id="edit-profile-btn"><i
                                        class="fas fa-check-circle"></i>
                                    Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/javascript/account_edit.js"></script>
{% endblock %}