<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/javascript/api_manager.js"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/stylesheets/base.css">
    {% block resource %}ADDITIONAL STYLING GOES HERE{% endblock %}
</head>

<body class="d-flex flex-column">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow">
        <div class="container">
            <a class="navbar-brand text-secondary" href="/">
                <img src="/static/images/brown_thumb.png" width="30" height="30" class="d-inline-block align-top"
                    alt="brown-thumb-logo" loading="lazy">
                Brown Thumb
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a id="nav-login" class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-signup" class="nav-link" href="/signup">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-username" class="nav-link" href="/account"></a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-myaccount" class="nav-link" href="/my-plants">My Plants</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-logout" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Nav Bar -->

    {% block content %}BODY CONTENT GOES HERE{% endblock %}

    <!-- Footer -->
    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">Emma Huynh | Springboard 2020 Capstone
        </div>
    </footer>
    <!-- Footer -->
</body>

<script src="/static/javascript/base.js"></script>

</html>