{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block resource %}
<link rel="stylesheet" href="/static/stylesheets/login.css">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 d-none d-md-block image-container">
        </div>

        <div class="col-lg-6 col-md-6 form-container">
            <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                <div class="logo mb-3">
                    <img src="" alt="" width="150px">
                </div>
                <div class="heading mb-4">
                    <h4>
                        Login
                    </h4>
                </div>
                <form>
                    <div class="form-input">
                        <span><i class="fas fa-user-circle"></i></span>
                        <input type="text" placeholder="Username" required>
                    </div>
                    <div class="form-input">
                        <span><i class="fas fa-lock"></i></span>
                        <input type="password" placeholder="Password" required>
                    </div>
                    <div class="text-left mb-3">
                        <button type="submit" class="btn">Login</button>
                    </div>
                </form>
                <div style="color: #777">Don't have an account yet?
                    <a href="/signup" class="signup-link">
                        Signup here</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}