{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block resource %}
<link rel="stylesheet" href="/static/stylesheets/signup.css">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 d-none d-md-block image-container">
        </div>

        <div class="col-lg-6 col-md-6 form-container">
            <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                <div class="logo mb-3">
                    <img src="" alt="" width="150px">
                </div>
                <div class="heading mb-4">
                    <h4>
                        Signup
                    </h4>
                </div>
                <form id="signup-form">
                    <div class="form-input">
                        <span><i class="fas fa-user-circle"></i></span>
                        <input id="username" type="text" placeholder="Username" required>
                    </div>
                    <div class="form-input">
                        <span><i class="fas fa-lock"></i></span>
                        <input id="password" type="password" placeholder="Password" required>
                    </div>
                    <div class="text-left mb-3">
                        <button type="submit" class="btn" id="signup-btn">Signup</button>
                    </div>
                </form>
                <div style="color: #777">Already have an account?
                    <a href="/login" class="login-link">
                        Login here</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/javascript/signup.js"></script>
{% endblock %}